html { position: relative; margin: 0; padding: 0; background-image: url('bg.png'); background-position: center top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-color: #E0E0E0; }
body { margin: 0; padding: 0; text-align: left; }
#imPage { margin: 0px auto 0px auto; width: 960px; position: relative; }
#imHeaderBg { position: absolute; left: 0; top: 0; height: 165px; width: 100%; background-color: transparent; }
#imHeader { height: 500px; background-color: transparent; background-image: url('top.png'); background-position: top left; background-repeat: no-repeat; }
#imMnMn { position: absolute; top: 0px; left: 399px; height: 150px; width: 130px; padding: 5px 5px 5px 5px; background-color: transparent; }
#imMnMn > ul { text-align: center; }
#imMnMnGraphics { display: none; }
#imMnMn li { display: inline; }
#imContent { min-height: 380px; position: relative; width: 950px; padding: 5px 5px 5px 5px; }
#imContentGraphics { min-height: 380px; position: absolute; top: 500px; bottom: 75px; left: 0; width: 960px; background-image: url('content.png'); background-position: center center; background-repeat: repeat; background-attachment: scroll; background-color: transparent; }
#imFooterBg { position: absolute; left: 0; bottom: 0; height: 90px; width: 100%; background-color: transparent; }
#imFooter { position: relative; margin: 0 auto; height: 75px; width: 960px; background-color: transparent; }
#imFooterResponsiveContent { display: none; }